/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2020, 9:58:03 AM
    Author     : george
*/

#login-image:hover{
    cursor: pointer;
}
.modal-body{
    background-color: white;
}
#pwReset{
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    color: #666;
    min-width: 450px;
    overflow-x: hidden;
    padding-bottom: 80px;
}

.index-services {
    position: relative;
    background-color: white !important;
}
.index-services .content {
    padding: 50px;
    position: relative;
    z-index: 20;
}
.index-services .content:after {
    bottom: -30px;
    content: "";
    height: 70px;
    left: -5%;
    position: absolute;
    width: 110%;
    z-index: 0;
}
.index-services .content + h1,
.index-services .content + h2,
.index-services .content + h3,
.index-services .content + h4,
.index-services .content + h5,
.index-services .content + h6 {
    margin-top: .25em;
}
.index-services h1,
.index-services h2,
.index-services h3,
.index-services h4,
.index-services h5,
.index-services h6 {
    background: white;
    display: block;
    height: 80px;
    margin: 1em 0 0;
    position: relative;
}
.index-services h1 span,
.index-services h2 span,
.index-services h3 span,
.index-services h4 span,
.index-services h5 span,
.index-services h6 span {
    background: white;
    border: 5px solid;
    border-radius: 30px;
    box-shadow: 0 0 0 5px white, inset 0 0 0 5px white;
    display: block;
    margin: 0 0 0 50px;
    padding: 10px 30px 5px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform-origin: top left;
    z-index: 30;
}
.index-services h1:before,
.index-services h2:before,
.index-services h3:before,
.index-services h4:before,
.index-services h5:before,
.index-services h6:before {
    box-shadow: 0 0 0 5px white;
    content: "";
    height: 5px;
    left: -5%;
    position: absolute;
    top: 50%;
    transform-origin: top left;
    width: 110%;
    z-index: 30;
}
.index-services h1:after,
.index-services h2:after,
.index-services h3:after,
.index-services h4:after,
.index-services h5:after,
.index-services h6:after {
    bottom: -40px;
    content: "";
    height: 50px;
    left: -5%;
    position: absolute;
    width: 110%;
    z-index: 20;
}
.index-services h1:nth-child(4n+1) span,
.index-services h2:nth-child(4n+1) span,
.index-services h3:nth-child(4n+1) span,
.index-services h4:nth-child(4n+1) span,
.index-services h5:nth-child(4n+1) span,
.index-services h6:nth-child(4n+1) span {
    border-color: #17a2b8;
    transform: rotate(-3deg) translateY(-25%);
}
.index-services h1:nth-child(4n+1):before,
.index-services h2:nth-child(4n+1):before,
.index-services h3:nth-child(4n+1):before,
.index-services h4:nth-child(4n+1):before,
.index-services h5:nth-child(4n+1):before,
.index-services h6:nth-child(4n+1):before {
    background: #17a2b8;
    box-shadow: 0 0 0 5px white, 0 -10px 0 5px white;
    transform: rotate(2deg) translateY(-50%);
}
.index-services h1:nth-child(4n+1):after,
.index-services h2:nth-child(4n+1):after,
.index-services h3:nth-child(4n+1):after,
.index-services h4:nth-child(4n+1):after,
.index-services h5:nth-child(4n+1):after,
.index-services h6:nth-child(4n+1):after {
    background: #666;
    transform: rotate(2deg);
}
.index-services h1:nth-child(4n+1) + .content,
.index-services h2:nth-child(4n+1) + .content,
.index-services h3:nth-child(4n+1) + .content,
.index-services h4:nth-child(4n+1) + .content,
.index-services h5:nth-child(4n+1) + .content,
.index-services h6:nth-child(4n+1) + .content {
    background: #666;
    color: white;
}
.index-services h1:nth-child(4n+1) + .content:after,
.index-services h2:nth-child(4n+1) + .content:after,
.index-services h3:nth-child(4n+1) + .content:after,
.index-services h4:nth-child(4n+1) + .content:after,
.index-services h5:nth-child(4n+1) + .content:after,
.index-services h6:nth-child(4n+1) + .content:after {
    background: #666;
    transform: rotate(-2deg);
}
.index-services h1:nth-child(4n+1) + .content:last-child:after,
.index-services h2:nth-child(4n+1) + .content:last-child:after,
.index-services h3:nth-child(4n+1) + .content:last-child:after,
.index-services h4:nth-child(4n+1) + .content:last-child:after,
.index-services h5:nth-child(4n+1) + .content:last-child:after,
.index-services h6:nth-child(4n+1) + .content:last-child:after {
    box-shadow: 0 5px 0 0 white, 0 10px 0 0 #17a2b8;
}
.index-services h1:nth-child(4n+3) span,
.index-services h2:nth-child(4n+3) span,
.index-services h3:nth-child(4n+3) span,
.index-services h4:nth-child(4n+3) span,
.index-services h5:nth-child(4n+3) span,
.index-services h6:nth-child(4n+3) span {
    border-color: #17a2b8;
    transform: rotate(3deg) translateY(-50%);
}
.index-services h1:nth-child(4n+3):before,
.index-services h2:nth-child(4n+3):before,
.index-services h3:nth-child(4n+3):before,
.index-services h4:nth-child(4n+3):before,
.index-services h5:nth-child(4n+3):before,
.index-services h6:nth-child(4n+3):before {
    background: #17a2b8;
    transform: rotate(-2deg) translateY(100%);
    transform-origin: bottom left;
}
.index-services h1:nth-child(4n+3):after,
.index-services h2:nth-child(4n+3):after,
.index-services h3:nth-child(4n+3):after,
.index-services h4:nth-child(4n+3):after,
.index-services h5:nth-child(4n+3):after,
.index-services h6:nth-child(4n+3):after {
    background: white;
    bottom: -16px;
    transform: rotate(-2deg);
}
.index-services h1:nth-child(4n+3) + .content,
.index-services h2:nth-child(4n+3) + .content,
.index-services h3:nth-child(4n+3) + .content,
.index-services h4:nth-child(4n+3) + .content,
.index-services h5:nth-child(4n+3) + .content,
.index-services h6:nth-child(4n+3) + .content {
    background: white;
    color: #666;
}
.index-services h1:nth-child(4n+3) + .content:after,
.index-services h2:nth-child(4n+3) + .content:after,
.index-services h3:nth-child(4n+3) + .content:after,
.index-services h4:nth-child(4n+3) + .content:after,
.index-services h5:nth-child(4n+3) + .content:after,
.index-services h6:nth-child(4n+3) + .content:after {
    background: white;
    transform: rotate(2deg);
}
.index-services h1:nth-child(4n+3) + .content:last-child:after,
.index-services h2:nth-child(4n+3) + .content:last-child:after,
.index-services h3:nth-child(4n+3) + .content:last-child:after,
.index-services h4:nth-child(4n+3) + .content:last-child:after,
.index-services h5:nth-child(4n+3) + .content:last-child:after,
.index-services h6:nth-child(4n+3) + .content:last-child:after {
    box-shadow: 0 5px 0 0 white, 0 10px 0 0 lawngreen, 0 15px 0 0 white, 0 60px 0 10px #666;
}

.main-title{
    text-align: center;
    color: #4e4e4e;
    font-weight: 600;
    font-size: 4em;
    margin-bottom: .3em;
    margin-top: .3em;
    font-family: "Dosis";
}

#banner{
    max-height: 600px;
}
.carousel-item {
    max-height: 50vh;
}

footer table{
    width: 50%;
}
@media screen and (min-width: 992px) {
    .carousel-item {
        max-height: 60vh;
    }
    footer table{
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    footer table{
        width: 100%;
    }
}